{% macro anchorMenuStart( classes='', tag='ul', itemTag='li' ) %}
<{{ tag }} class="uams-anchor-menu{{ classes }}">
    {% endmacro %}

    {% macro anchorMenuEnd( tag='ul' ) %}
</{{ tag }}>
{% endmacro %}
