@import './variables';

@mixin uams-gutenberg-block-outline() {

    border: 1px dashed $uams-gutenberg-color--block-outline; 
    border-radius: 8px;

    &:hover,
    &:focus {
        border-color: $uams-gutenberg-color--block-outline-hover; 
    }

}