@import '../../../_assets/scss/variables';
@import '../../../_assets/scss/mixins';

.uams-table--style-lines {
    border-top: 1px solid $uams-color--gray-15;
    border-collapse: collapse;
    margin-bottom: $uams-spacing--component;
    
    th,
    td {
        padding: $uams-spacing--xxsmall;
        border-top: none !important;
        border-left: none !important;
        border-right: none !important;
        border-bottom: 1px solid $uams-color--gray-15;
        border-collapse: collapse;
    }

    th {
        text-align: left;
    }

}

