@import '../../../_assets/scss/variables';
@import '../../../_assets/scss/mixins';

.uams-navigation-audience--style-vertical {

    .uams-navigation-audience {

        &__menu {
            list-style-type: none;
            margin: 0;
            padding: 0.2em 0;

            li {
                margin: 0;
                padding: 0;
            }
        }

        &__label {
            @extend %uams-navigation-audience__label;
            border-bottom: 1px solid $uams-color--gray-5;
            color: $uams-color--gray-50;
        }
    }

    a {
        color: inherit;
        font-size: $uams-font-size--medium;
        font-weight: 500;
        text-decoration: none;
        display: block;
        padding: 0.1em 0;
    }
}