@import '../../../_assets/scss/variables';
@import '../../../_assets/scss/mixins';

div[class*="decorator--style-triangle"] {
    content: '';
	display: block;
	position: absolute;
	height: 100vw !important;
	width: 200vw !important;
}


div[class*="decorator--style-triangle-crimson"] {
	background-color: $uams-color--crimson;
}
.uams-decorator--style-triangle-gray-top-right,
.uams-decorator--style-triangle-gray-top-left,
.uams-decorator--style-triangle-gray-left,
.uams-decorator--style-triangle-gray-right {
	background-color: $uams-color--gray-5;
}

.uams-decorator--style-triangle-gray-right,
.uams-decorator--style-triangle-crimson-right {
	clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.uams-decorator--style-triangle-gray-left,
.uams-decorator--style-triangle-crimson-left {
	clip-path: polygon(0% 0%, 50% 0%, 100% 100%, 0% 100%);
}

.uams-decorator--style-triangle-gray-top-left,
.uams-decorator--style-triangle-crimson-top-left {
	clip-path: polygon(0 0,100% 0,50% 100%,0 100%);
}

.uams-decorator--style-triangle-gray-top-right,
.uams-decorator--style-triangle-crimson-top-right {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%);
}

.uams-decorator--style-triangle-crimson-uams-steep-right {
	clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
}

.uams-decorator--style-triangle-crimson-uams-steep-left {
	clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
}

.uams-decorator--style-triangle-crimson-uams-steep-top-right {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
}

.uams-decorator--style-triangle-crimson-uams-steep-top-left {
	clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
}