@import '../variables';

.uams-notch--xsmall,
.uams-shape--em-notch-xsmall {
    -webkit-clip-path: polygon(100% 0,100% calc(100% - 20px),calc(100% - 20px) 100%,0 100%,0 0);
    clip-path: polygon(100% 0,100% calc(100% - 20px),calc(100% - 20px) 100%,0 100%,0 0);
}

.uams-notch--small,
.uams-shape--em-notch-small {
    -webkit-clip-path: polygon(100% 0,100% calc(100% - 40px),calc(100% - 40px) 100%,0 100%,0 0);
    clip-path: polygon(100% 0,100% calc(100% - 40px),calc(100% - 40px) 100%,0 100%,0 0);
}

.uams-notch--medium,
.uams-shape--em-notch-medium {
    -webkit-clip-path: polygon(100% 0,100% calc(100% - 70px),calc(100% - 70px) 100%,0 100%,0 0);
    clip-path: polygon(100% 0,100% calc(100% - 70px),calc(100% - 70px) 100%,0 100%,0 0);
}

.uams-notch--large,
.uams-shape--em-notch-large {
    -webkit-clip-path: polygon(100% 0,100% calc(100% - 100px),calc(100% - 100px) 100%,0 100%,0 0);
    clip-path: polygon(100% 0,100% calc(100% - 100px),calc(100% - 100px) 100%,0 100%,0 0);
}

.uams-notch-top--small {
    -webkit-clip-path: polygon(40px 0, 100% 0, 100% 100%, 0 100%, 0 40px);
    clip-path: polygon(40px 0, 100% 0, 100% 100%, 0 100%, 0 40px);
}
