@import "../../../_assets/scss/variables";
@import "../../../_assets/scss/mixins";

.uams-background-slider {
  @include uams-position-absolute-fill();
  overflow: hidden;

  &__slide {
    @include uams-position-absolute-fill();
    visibility: hidden;

    & > img {
      @include uams-position-absolute-fill();
      object-fit: cover;
      display: block;
    }
  }

  &__pause-button {
    position: absolute;
    top: $uams-spacing--small;
    right: $uams-spacing--small; 
    z-index: 4;
  }

}

.uams-background-slider:not([class*="--effect-"]),
.uams-background-slider--effect-fade {

  .uams-background-slider__slide {
    opacity: 0;
    transition: opacity 1000ms;
  }

  .uams-background-slider__slide.uams-slide--active {
    opacity: 1;
    z-index: 2;
    visibility: visible;
  }

  .uams-background-slider__slide.uams-slide--previous {
    opacity: 1;
    z-index: 1;
    visibility: visible;
  }

}

.uams-background-slider--effect-slide {

  .uams-background-slider__slide {
    transition: left 1000ms;
    right: auto;
    left: -100%;
  }

  .uams-background-slider__slide.uams-slide--active {
    z-index: 2;
    visibility: visible;
    left: 0;
  }

  .uams-background-slider__slide.uams-slide--previous {
    z-index: 1;
    visibility: visible;
    left: 100%; 
  }

}

.uams-background-slider--effect-stacked {

  .uams-background-slider__slide {
    transition: left 1000ms;
    right: auto;
    left: -100%;
    box-shadow: 6px -1px 28px 3px rgba(0,0,0,0.48);
    -webkit-box-shadow: 6px -1px 28px 3px rgba(0,0,0,0.48);
    -moz-box-shadow: 6px -1px 28px 3px rgba(0,0,0,0.48);
  }

  .uams-background-slider__slide.uams-slide--active {
    z-index: 2;
    visibility: visible;
    left: 0;
  }

  .uams-background-slider__slide.uams-slide--previous {
    z-index: 1;
    visibility: visible; 
    left: 0; 
  }

}
