@import '../../_assets/scss/variables';
@import '../../_assets/scss/mixins';


.uams-flex {

    &--wrap {
        display: flex !important;
        flex-wrap: wrap !important;
    }

    &--columns-2 {

        justify-content: space-between;

        & > * {
            width: 50%;
            flex-basis: 1 0 auto;
        }

        &.uams-flex--spacing {

            &-medium > * {
                width: calc( 50% - ( #{$uams-spacing--medium}/ 2 ) );
            }

            &-xmedium > * {
                width: calc( 50% - ( #{$uams-spacing--xmedium}/ 2 ) );
            }

            &-large > * {
                width: calc( 50% - ( #{$uams-spacing--large}/ 2 ) );
            }

            &-xlarge > * {
                width: calc( 50% - ( #{$uams-spacing--xlarge}/ 2 ) );
            }

        }
    }


    &--columns-3 {

        justify-content: space-between;

        & > * {
            width: 33.33%;
            flex-basis: 1 0 auto;
        }

        .uams-flex--spacing {

            &-medium > * {
                width: calc( 33.33% - ( #{$uams-spacing--medium}/ 2 ) );
            }

            &-xmedium > * {
                width: calc( 33.33% - ( #{$uams-spacing--xmedium}/ 2 ) );
            }

            &-large > * {
                width: calc( 33.33% - ( #{$uams-spacing--large}/ 2 ) );
            }

            &-xlarge > * {
                width: calc( 33.33% - ( #{$uams-spacing--xlarge}/ 2 ) );
            }

        }
    }

    &--columns-4 {

        justify-content: space-between;

        & > * {
            width: 25%;
            flex-basis: 1 0 auto;
        }

        .uams-flex--spacing {

            &-medium > * {
                width: calc( 25% - ( #{$uams-spacing--medium}/ 2 ) );
            }

            &-xmedium > * {
                width: calc( 25% - ( #{$uams-spacing--xmedium}/ 2 ) );
            }

            &-large > * {
                width: calc( 25% - ( #{$uams-spacing--large}/ 2 ) );
            }

            &-xlarge > * {
                width: calc( 25% - ( #{$uams-spacing--xlarge}/ 2 ) );
            }

        }
    }
    

    &--breakpoint-desktop {

        @media screen and ( max-width: #{$uams-breakpoint--desktop} ) {
            display: block !important;

            & > * {
                width: auto !important;
            }
        }

    }

    &--breakpoint-tablet-large {

        @media screen and ( max-width: #{$uams-breakpoint--tablet-large } ) {
            display: block !important;

            & > * {
                width: auto;
            }
        }

    }

    &--breakpoint-tablet-medium {

        @media screen and ( max-width: #{$uams-breakpoint--tablet-medium } ) {
            display: block !important;

            & > * {
                width: auto;
            }
        }

    }

    &--breakpoint-tablet {

        @media screen and ( max-width: #{$uams-breakpoint--tablet } ) {
            display: block !important;

            & > * {
                width: auto;
            }
        }

    }

    &--breakpoint-phone {

        @media screen and ( max-width: #{$uams-breakpoint--phone } ) {
            display: block !important;

            & > * {
                width: auto;
            }
        }

    }

    &--breakpoint-phone-small {
        @media screen and ( max-width: #{$uams-breakpoint--phone-small } ) {
            display: block !important;

            & > * {
                width: auto;
            }
        }

    }

}


/*----------  Display  ----------*/
.uams-display {
    &--block {
      display: block !important;
    }
  
    &--inline {
      display: inline !important;
    }
  
    &--inline-block {
      display: inline-block !important;
    }
  }
  



.uams-item-layout {

    &--flex-column {
        display: flex;
        flex-direction: column;
    }
}




@each $colorName, $color in $uams-color-map{

    .uams-color-background--#{$colorName} {
        background-color: $color !important;
        color: map-get( $uams-color-background-text-map, $colorName );
    }

}




.uams-screen-reader-only,
.screen-reader-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}





.uams-overflow {

    &--hidden {
        overflow: hidden;
    }

    &-x--hidden {
        overflow-x: hidden;
    }

    &-y--hidden {
        overflow-y: hidden;
    }

}

.uams-zindex {

    &--level-1 {
        z-index: 1;
    }

    &--level-2 {
        z-index: 2;
    }

    &--level-3 {
        z-index: 3;
    }

    &--level-4 {
        z-index: 4;
    }

    &--level-5 {
        z-index: 5;
    }

    &--level-6 {
        z-index: 6;
    }

    &--level-7 {
        z-index: 7;
    }
}


@each $spaceName, $space in $uams-spacing-map{

    .uams-spacing-negative-margin-top--#{$spaceName} {
        margin-top: -$space !important;
    }

    .uams-spacing-margin-top--#{$spaceName},
    .uams-spacing-before--#{$spaceName} {
        margin-top: $space !important;
    }

    .uams-spacing-negative-margin-bottom--#{$spaceName} {
        margin-bottom: -$space !important;
    }

    .uams-spacing-margin-bottom--#{$spaceName},
    .uams-spacing-after--#{$spaceName} {
        margin-bottom: $space !important;
    }

    .uams-spacing-negative-margin-left--#{$spaceName} {
        margin-left: -$space !important;
    }

    .uams-spacing-margin-left--#{$spaceName} {
        margin-left: $space !important;
    }

    .uams-spacing-negative-margin-right--#{$spaceName} {
        margin-right: -$space !important;
    }
    .uams-spacing-margin-right--#{$spaceName} {
        margin-right: $space !important;
    }

    .uams-spacing-padding-left--#{$spaceName} {
        padding-left: $space !important;
    }

    .uams-spacing-padding-right--#{$spaceName} {
        padding-right: $space !important;
    }

    .uams-spacing-padding-top--#{$spaceName},
    .uams-spacing-top--#{$spaceName} {
        padding-top: $space !important;
    }

    .uams-spacing-padding-bottom--#{$spaceName},
    .uams-spacing-bottom--#{$spaceName} {
        padding-bottom: $space !important;
    }

}

.uams-spacing-margin-left--auto {
    margin-left: auto !important;
}

.uams-spacing-margin-right--auto {
    margin-right: auto !important;
}

/** ================ .uams-width-- ====================== **/

@import '../../_assets/scss/utilities/align';
@import '../../_assets/scss/utilities/background';
@import '../../_assets/scss/utilities/border';
@import '../../_assets/scss/utilities/break';
@import '../../_assets/scss/utilities/font';
@import '../../_assets/scss/utilities/hide';
@import '../../_assets/scss/utilities/notch';
@import '../../_assets/scss/utilities/opacity';
@import '../../_assets/scss/utilities/pull';
@import '../../_assets/scss/utilities/push';
@import '../../_assets/scss/utilities/width';






