@import '../../../uams-design-variables/src/bundles/wsu-design-system.wordpress.scss';
@import '../../../uams-design-variables/_assets/scss/variables';
@import '../../../uams-design-variables/_assets/scss/mixins';

.block-editor-block-list__layout {



    .has-child-selected.uams-accordion,
    .is-selected.uams-accordion {

        border: 1px solid $uams-color--gray-20;

        .uams-accordion__content {
            max-height: none ;
            visibility: visible;
            background: repeating-linear-gradient(
            45deg,
            #ffffff,
            #ffffff 10px,
            $uams-color--gray-5 10px,
            $uams-color--gray-5 20px 
            );
        }

        .uams-accordion__content-inner {
            background-color: #fff;
            margin: $uams-spacing--medium;
            padding: $uams-spacing--small;
        }

    } 
}