@import '../../../_assets/scss/variables';
@import '../../../_assets/scss/mixins';

.uams-animate--action-bottom-right {
    transition: transform $uams-easing 1s, opacity ease-in 1s;

    &.uams-animate--timing-early,
    &:not([class*='--timing-']),
    &.uams-animate--timing-late {
        transform: translate(300px,300px);
        opacity: 0;
    }

    &.uams-animate--timing-late.uams-animate--do-late,
    &.uams-animate--timing-early.uams-animate--do-early,
    &:not([class*='--timing-']).uams-animate--do-default {
        transform: translate(0,0);
        opacity: 1;
    }

    @media (prefers-reduced-motion: reduce) {
        transform: translate(0,0) !important;
        opacity: 1 !important;
    }

}