.uams-callout--style-basic {
    background-color: white;
    padding: $uams-spacing--medium $uams-spacing--xmedium 1px;
    box-sizing: border-box;
    margin-bottom: $uams-spacing--component;
    position: relative;
}